version=0.19.0
profile=conventional

break-infix=fit-or-vertical
parse-docstrings=true
let-binding-spacing=compact
space-around-arrays=true
space-around-lists=true
space-around-records=true
space-around-variants=true
sequence-style=terminator
